@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

header {
  background-color: #000000;
  color: white;
}

header nav .nav-links {
  margin-left: 110px;
  transition: 0.3s;
}

header nav .nav-links a:hover {
  color: white;
}

.hero-1-text-content h1 {
  line-height: 50px;
}

.hero-2 .category-nav .category-nav-link:hover {
  border-bottom: 1px solid white;
  transition: 0.3s;
}

.menu-icon-close {
  right: 15% !important;
}

.achivement-section {
  background: rgb(191, 105, 255);
  background: linear-gradient(
    348deg,
    #c4d5fffa 43%,
    rgb(117 161 255 / 66%) 61%
  );
}

.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.info-section {
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.mentor-container {
  background-image: url("https://images.unsplash.com/photo-1712262825783-c0b5ef123959?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.zego_model_parent{
  border-radius: 20px;
  margin: auto;
}

footer {
  background-color: #fafafa;
}

@media screen and (max-width: 430px) {
  .logo img {
    max-width: 80%;
  }
  .hero-section {
    padding-top: 2rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center;
  }

  .hero-1-text-content h1 {
    line-height: 40px !important;
    font-size: 2rem !important;
  }

  .hero-1-text-content .ratings {
    justify-content: center !important;
  }

  .hero-1-text-content .ratings img {
    width: 5rem !important;
  }
  .hero-1-text-content .ratings span {
    font-size: 13px !important;
    margin-top: 0rem !important;
  }
  .hero-1-text-content a {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
  }

  .hero-1 > img {
    display: none !important;
  }

  .hero-2 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .hero-2 .category-nav {
    overflow-x: auto !important;
    gap: 1.5rem !important;
    padding-left: 10% !important;
  }

  .hero-2 .card-container {
    justify-content: center !important;
    gap: 10px !important;
    flex-direction: column !important;
  }

  .hero-2 .card-container .mentor-card {
    text-align: left !important;
    max-width: 14rem !important;
    /* max-height: 14rem !important; */
    margin: auto !important;
    font-size: 13px !important;
  }

  .hero-2 .card-container .mentor-card button {
    padding: 0.2rem !important;
    font-size: 13px !important;
  }

  .video-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .video-section h3 {
    font-size: 1.5rem !important;
  }
  .video-section p {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .video-section .video-container {
    padding: 0.8rem !important;
  }

  .achivement-section {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .achivement-section h3 {
    font-size: 1.7rem !important;
    line-height: 1.9rem !important;
  }

  .achivement-section .flex {
    gap: 1.5rem !important;
    flex-wrap: wrap !important;
  }

  .achivement-section .achievement-card {
    padding: 2rem !important;
    width: 70% !important;
  }

  .achivement-section .achievement-card span,
  .achivement-section .achievement-card p {
    font-size: 0.8rem !important;
    line-height: 0.5rem !important;
  }

  .info-section {
    padding: 2.9rem !important;
  }

  .info-section h2 {
    font-size: 1.4rem !important;
  }

  .info-section p {
    width: 100% !important;
    font-size: 0.8rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .mentor-container > div {
    flex-direction: column !important;
  }

  .mentor-container aside {
    width: 100% !important;
    height: 11vh !important;
    border: none !important;
    flex-direction: row !important;
    align-items: baseline !important;
    overflow-x: auto !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    gap: 9px !important;
    margin-bottom: 15px !important;
  }

  .mentor-container aside button {
    font-size: 11px !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    gap: 3px !important;
  }

  .mentor-container aside button span svg {
    font-size: 19px !important;
  }

  .mentor-container .custom-scrollbar {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    gap: 0.8rem !important;
  }

  .mentor-container .custom-scrollbar .mentor-card {
    max-width: 15rem !important;
  }

  .mentor-container .custom-scrollbar .mentor-card,
  .mentor-container .custom-scrollbar .mentor-card p {
    font-size: 10px !important;
  }

  .mentor-container .custom-scrollbar .mentor-card > img {
    height: 10% !important;
  }

  .mentor-container .custom-scrollbar .mentor-card .mentor-info {
    font-size: 12px !important;
  }

  footer {
    padding-top: 3rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    font-size: 12px !important;
  }

  footer .sec-1 {
    flex-direction: column !important;
  }

  footer .sec-1 .socials {
    margin: 15px 0 !important;
    gap: 1.3rem !important;
  }

  footer .sec-2 {
    display: none !important;
  }
}
